$lime: #25FFC2;
$lime-dark: #06d69b;
$greyMediumLight:#F9F9F9;
$greyLight: #FAFAFA;
$greyLightV2: #EEE;
$greyMedium: #999;
$greyDark: #666;
$paleYellow: #FFFFF5;

.container {

  padding-left:4rem;
  padding-right:4rem;
  background:$greyMediumLight;

}

.general-info-container {
  margin-bottom:2.5rem;
  margin-top:2.8rem;
  padding-top:2.2rem;
  padding-bottom:0.8rem;

  h2 { margin-bottom:2rem; margin-top:-15px; }
}

.general-info-container {
  background-color:#FFF;
  border:1px solid $greyLightV2;
 -webkit-box-shadow: -2px 2px 5px 0px rgba(217,214,217,1);
-moz-box-shadow: -2px 2px 5px 0px rgba(217,214,217,1);
box-shadow: -2px 2px 5px 0px rgba(217,214,217,1);
}

